@import "./styles/variables.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color: $darkColor;
}

a {
  color: $darkgreyColor;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.active {
  cursor: pointer;
  font-weight: bold;
  color: $mainColor;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}
